#define APSTUDIO_READONLY_SYMBOLS 0

#include "resource.h"
#include "afxres.h"

LANGUAGE 0,0

LANGUAGE 9,1

IDR_VERSION VERSIONINFO
FILEVERSION 0,0,1,2014
PRODUCTVERSION 0,0,1,2014
FILEOS 0x00040004
FILETYPE 0x00000002
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "FFFF04B0"
    BEGIN
      VALUE "CompanyName", "Ali Mousavi Kherad\0"
      VALUE "FileDescription", "MintCore core library for MintAPI framework |  by Ali Mousavi Kherad\0"
      VALUE "FileVersion", "0.0.1.2014\0"
      VALUE "InternalName", "mintcore0.dll\0"
      VALUE "LegalCopyright", "Ali Mousavi Kherad / alimousavikherad@gmail.com\0"
      VALUE "LegalTrademarks", "by Ali Mousavi Kherad\0"
      VALUE "OriginalFilename", "mintcore0.dll\0"
      VALUE "ProductName", "MintCore core library for MintAPI framework |  by Ali Mousavi Kherad\0"
      VALUE "ProductVersion", "0.0.1.2014\0"
      VALUE "release", "http://sourceforge.net/p/MintAPI\0"
    END
  END
  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0xFFFF, 0x04B0
  END
END

